.calendar {

  .month {
    display: none;

    &:first-of-type {
      display: block;
    }

    .weekday-label-container {
      @include weekly-grid;
    }

    .month-container {
      @include weekly-grid;
      grid-auto-rows: 160px;
    }
  }
}
