/*
Borrowed ideas from https://css-tricks.com/exploring-what-the-details-and-summary-elements-can-do/
*/

details.event {
  cursor: pointer;
  position: relative;

  summary.event-summary {
    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none;
  }

  section {
    cursor: auto;
    position: absolute;
    left: 0;
    top: 35px;
    right: 0;
    z-index: 99;

    &:before {
      content: "";
      height: 0;
      left: 10px;
      position: absolute;
      top: -10px;
      width: 0;
    }
  }
}