{%- macro container(date, events) -%}
  {# Get calendar events filtered by show_in_calendar #}
  {%- set events = events | filter(attribute="extra.show_in_calendar", value=true) -%}
  {%- for page in events -%}
    {%- set content_date = page.date | date(format="%Y-%m-%d") -%}
    {%- set date = date | date(format="%Y-%m-%d") -%}
    {%- if content_date == date -%}
      <details class="event">
        <summary class="event-summary">
          {{ page.title }}
        </summary>
        <section>
          {{ page.content | safe}}
          <p>{{ page.date | date(format="%I:%M %P")}}</p>
        </section>
      </details>
    {%- endif -%}
  {%- endfor -%}
{%- endmacro container -%}