{%- extends "tithi-basic/templates/base.html" -%}
  
{% block title %}Tithi - A Static Calendar{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ get_url(path="tithi.css", trailing_slash=false) }}">
{% endblock %}

{%- block content -%}
<section class="section tithi-section">
  <div class="container">
    {% block template_content %}
    {%- endblock -%}
  </div>
</section>
{%- endblock -%}

{% block scripts %}
  {{ super() }}
  <script src="{{ get_url(path="js/month_switch.js", trailing_slash=false) }}"></script>
{% endblock %}
